@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Mono:wght@200&display=swap');

/* body {
  font-family: 'Montserrat', sans-serif;
}
 */
.App {
  text-align: center;
  position: relative;
}

/* all headings */

h2 {
  font-size: 4rem;
  color: #ffbef9;
}

.start-screen {
  background-color: azure;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.waiting-screen {
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.result-screen {
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-screen-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 50%;
  width: 50%;
  background-color: rgb(231, 255, 255);
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 25px 3px black;
  padding: 1rem 2rem;
}

.result-screen-wrapper button {
  margin: 0;
  margin-top: 1rem;
}

.gameBoard-wrapper {
  padding: 1rem;
}

.gameBoard {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem;
  grid-gap: 0.2rem;
  margin: 2rem;
  justify-content: center;
}

.waves-container {
  z-index: -100;
  background-color: rgb(230, 117, 205);
  height: 100rem;
}

.waves {
  margin-top: 30rem;
  height: 80rem;
}

.wave-1 {
  height: 3rem;
  opacity: 0.5;
}

.wave-2 {
  z-index: -900;
  height: 3rem;
  opacity: 0.9;
}

.wave-3 {
  z-index: -90;
  height: 3rem;
  opacity: 0.6;
}

.wave-4 {
  z-index: -90;
  height: 3rem;
  opacity: 0.6;
}

.pixel {
  border: 1px solid #ffbef9;
  background-color: #ffbef9;
  width: 5rem;
  height: 5rem;
}
/* 
  .pixel:hover {
    background-color: rgb(175, 114, 124); 
  } */

.pixelShip {
  background-color: #fe71f0;
  width: 5rem;
  height: 5rem;
}

.pixelHit {
  background-color: #7dbe84;
  width: 5rem;
  height: 5rem;
}

.pixelMiss {
  background-color: #f5f075;
  width: 5rem;
  height: 5rem;
}

#scoreBoard {
  background-color: rgb(28, 21, 117);
  width: 15rem;
  height: 10rem;
  margin: 2rem 0 0 0;
  color: pink;
}

#turnToggle {
  background-color: rgb(121, 102, 165);
}

#gameOver {
  background-color: red;
}

.cant-place-ship {
  cursor: not-allowed;
}

.btn.active {
  border: 1px solid black;
}

.placement-container {
  background-color: #ffbef9;
  padding: 1rem 1rem 2rem 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.btn-ship-selection {
  margin: 1rem 0;
}

.btn-ship-selection .btn {
  margin: 0 0.5rem;
  background-color: #8abdcd;
  border-color: black;
}

.btn-direction-selection .btn,
.btn-direction-selection .btn:active {
  margin: 0 1rem;
  background-color: #7dbe84;
  border-color: black;
  box-shadow: none;
}

.btn.btn-randomise {
  margin-top: 1rem;
  margin-right: 1.5rem;
  background-color: #badfec;
  border-color: black;
}
